.UserPanel {
    padding: 0 12px 0 12px;
    height: calc(100vh - 76px);
    overflow-y: auto;
    text-overflow: ellipsis;
}

.UserInfo {
    height: calc(100vh - 90px);
    padding-top: 32px;
    text-align: center;
    overflow-y: auto;
    text-overflow: ellipsis;
    background: white;
}

.UserBasicInfo {
    background: whitesmoke;
    border-radius: 5px;
    padding: 32px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    line-height: 2;
}

.UserCourses {
    background: whitesmoke;
    border-radius: 5px;
    padding: 12px 32px 32px;
    margin-top: 24px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    line-height: 2;
}

.UserSignature {
    background: whitesmoke;
    border-radius: 5px;
    padding: 12px 32px 32px;
    margin-top: 24px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.Divider {
    height: calc(100vh - 90px);
    background: yellow;
}

.PanelWorkspace {
    height: calc(100vh - 90px);
    overflow-y: auto;
    text-overflow: ellipsis;
    background: white;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 128px;
}