.login-form {
    background: rgba(214, 241, 255, 0.71);
    margin-top: 12px;
    padding: 32px 16px 16px 16px;
    border: solid rgba(78, 93, 155, 0.26) 1px;
    border-radius: 5px;
}
 .login-form-forgot {
    float: right;
}
 .login-form-button {
    width: 100%;
}