
math-field {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.ML__keyboard.apple.is-visible {
    width: 100%;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
}