body, pre {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.verticalCheckBoxGroup label{
  display: block;
  margin-bottom: 6px;
}
.ant-upload-draggable-list-item {
  border-left: 2px dashed rgba(0, 0, 0, 0);
  border-right: 2px dashed rgba(0, 0, 0, 0);
}
.ant-upload-draggable-list-item.drop-over-downward {
  border-right-color: #1890ff;
}
.ant-upload-draggable-list-item.drop-over-upward {
  border-left-color: #1890ff;
}
.hidden { display: none; }
